---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/hanami/repos?client_id=&client_secret=&page=1&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1492093201'
      Etag:
      - W/"b98ce9082ed3b5ae820a7a29903348ba"
      Last-Modified:
      - Tue, 11 Apr 2017 09:04:20 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/orgs/hanami/repos?client_id=&client_secret=&page=2&count=100>;
        rel="next", <https://api.github.com/orgs/hanami/repos?client_id=&client_secret=&page=2&count=100>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"1be66f40b4e06c16e85d8ad3e477fc00fb733f49","commit":{"author":{"name":"Anton
        Davydov","email":"don.mist@gmail.com","date":"2017-04-11T09:04:20Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2017-04-11T09:04:20Z"},"message":"Merge
        pull request #8 from artofhuman/add-dev-env\n\nAdd missing .env.development","tree":{"sha":"61e5d486dd186f6d4e5f143f005771a069160576","url":"https://api.github.com/repos/hanami/contributors/git/trees/61e5d486dd186f6d4e5f143f005771a069160576"},"url":"https://api.github.com/repos/hanami/contributors/git/commits/1be66f40b4e06c16e85d8ad3e477fc00fb733f49","comment_count":0},"url":"https://api.github.com/repos/hanami/contributors/commits/1be66f40b4e06c16e85d8ad3e477fc00fb733f49","html_url":"https://github.com/hanami/contributors/commit/1be66f40b4e06c16e85d8ad3e477fc00fb733f49","comments_url":"https://api.github.com/repos/hanami/contributors/commits/1be66f40b4e06c16e85d8ad3e477fc00fb733f49/comments","author":{"login":"davydovanton","id":1147484,"avatar_url":"https://avatars1.githubusercontent.com/u/1147484?v=3","gravatar_id":"","url":"https://api.github.com/users/davydovanton","html_url":"https://github.com/davydovanton","followers_url":"https://api.github.com/users/davydovanton/followers","following_url":"https://api.github.com/users/davydovanton/following{/other_user}","gists_url":"https://api.github.com/users/davydovanton/gists{/gist_id}","starred_url":"https://api.github.com/users/davydovanton/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/davydovanton/subscriptions","organizations_url":"https://api.github.com/users/davydovanton/orgs","repos_url":"https://api.github.com/users/davydovanton/repos","events_url":"https://api.github.com/users/davydovanton/events{/privacy}","received_events_url":"https://api.github.com/users/davydovanton/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"avatar_url":"https://avatars0.githubusercontent.com/u/19864447?v=3","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"b7ef72ba59b27c98da0c49d034cce7675a658205","url":"https://api.github.com/repos/hanami/contributors/commits/b7ef72ba59b27c98da0c49d034cce7675a658205","html_url":"https://github.com/hanami/contributors/commit/b7ef72ba59b27c98da0c49d034cce7675a658205"},{"sha":"6860a4117da46ee2a832bfb8fbd5fa230c9759dd","url":"https://api.github.com/repos/hanami/contributors/commits/6860a4117da46ee2a832bfb8fbd5fa230c9759dd","html_url":"https://github.com/hanami/contributors/commit/6860a4117da46ee2a832bfb8fbd5[...]
- request:
    method: get
    uri: https://api.github.com/orgs/hanami/repos?client_id=&client_secret=&page=2&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1492093201'
      Etag:
      - W/"3734c8947ad76b8c65d82de2519fc8f3"
      Last-Modified:
      - Mon, 03 Apr 2017 01:00:50 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
    body:
      encoding: ASCII-8BIT
      string: "[]]"
  recorded_at: Fri, 24 Nov 2017 10:05:03 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/hanami/repos?client_id=&client_secret=&count=100&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1511521695'
      Etag:
      - W/"bd94839df2eb8133375f5c6f41187e56"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":10696882,"name":"router","full_name":"hanami/router","owner":{"login":"hanami","id":3210273,"avatar_url":"https://avatars1.githubusercontent.com/u/3210273?v=4","gravatar_id":"","url":"https://api.github.com/users/hanami","html_url":"https://github.com/hanami","followers_url":"https://api.github.com/users/hanami/followers","following_url":"https://api.github.com/users/hanami/following{/other_user}","gists_url":"https://api.github.com/users/hanami/gists{/gist_id}","starred_url":"https://api.github.com/users/hanami/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hanami/subscriptions","organizations_url":"https://api.github.com/users/hanami/orgs","repos_url":"https://api.github.com/users/hanami/repos","events_url":"https://api.github.com/users/hanami/events{/privacy}","received_events_url":"https://api.github.com/users/hanami/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/hanami/router","description":"Ruby/Rack
        HTTP router","fork":false,"url":"https://api.github.com/repos/hanami/router","forks_url":"https://api.github.com/repos/hanami/router/forks","keys_url":"https://api.github.com/repos/hanami/router/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hanami/router/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hanami/router/teams","hooks_url":"https://api.github.com/repos/hanami/router/hooks","issue_events_url":"https://api.github.com/repos/hanami/router/issues/events{/number}","events_url":"https://api.github.com/repos/hanami/router/events","assignees_url":"https://api.github.com/repos/hanami/router/assignees{/user}","branches_url":"https://api.github.com/repos/hanami/router/branches{/branch}","tags_url":"https://api.github.com/repos/hanami/router/tags","blobs_url":"https://api.github.com/repos/hanami/router/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hanami/router/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hanami/router/git/refs{/sha}","trees_url":"https://api.github.com/repos/hanami/router/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hanami/router/statuses/{sha}","languages_url":"https://api.github.com/repos/hanami/router/languages","stargazers_url":"https://api.github.com/repos/hanami/router/stargazers","contributors_url":"https://api.github.com/repos/hanami/router/contributors","subscribers_url":"https://api.github.com/repos/hanami/router/subscribers","subscription_url":"https://api.github.com/repos/hanami/router/subscription","commits_url":"https://api.github.com/repos/hanami/router/commits{/sha}","git_commits_url":"https://api.github.com/repos/hanami/router/git/commits{/sha}","comments_url":"https://api.github.com/repos/hanami/router/comments{/number}","issue_comment_url":"https://api.github.com/repos/hanami/router/issues/comments{/number}","contents_url":"https://api.github.com/repos/hanami/router/contents/{+path}","compare_url":"https://api.github.com/repos/hanami/router/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hanami/router/merges","archive_url":"https://api.github.com/repos/hanami/router/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hanami/router/downloads","issues_url":"https://api.github.com/repos/hanami/router/issues{/number}","pulls_url":"https://api.github.com/repos/hanami/router/pulls{/number}","milestones_url":"https://api.github.com/repos/hanami/router/milestones{/number}","notifications_url":"https://api.github.com/repos/hanami/router/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hanami/router/labels{/name}","releases_url":"https://api.github.com/repos/hanami/router/releases{/id}","deployments_url":"https://api.github.com/repos/hanami/router/deployments","created_at":"2013-06-14T20:07:26Z","updated_at":"2017-11-16T12:14:50Z","pushed_at":"2017-11-21T14:59:59Z","git_url":"git://github.com/hanami/router.git","ssh_url":"git@github.com:hanami/router.git","clone_url":"https://github.com/hanami/router.git","svn_url":"https://github.com/hanami/router","homepage":"http://hanamirb.org","size":603,"stargazers_count":270,"watchers_count":270,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":72,"mirror_url":null,"archived":false,"open_issues_count":1,"forks":72,"open_issues":1,"watchers":270,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":10932604,"name":"controller","full_name":"hanami/controller","owner":{"login":"hanami","id":3210273,"avatar_url":"https://avatars1.githubusercontent.com/u/3210273?v=4","gravatar_id":"","url":"https://api.github.com/users/hanami","html_url":"https://github.com/hanami","followers_url":"https://api.github.com/users/hanami/followers","following_url":"https://api.github.com/users/hanami/following{/other_user}","gists_url":"https://api.github.com/users/hanami/gists{/gist_id}","starred_url[...]
