a {
  color: #534a7f;
}

@media (min-width: 769px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 768px){
  .container {
    width: 100%;
  }
}

.contributors_range {
  color: #534a7f;
  margin: 25px 0;

  .active {
    a {
      background-color: #534a7f !important;
    }
  }
}

.pagination {
  li {
    a {
      color: #534a7f !important;
    }
  }

  li.active {
    a {
      background-color: #534a7f !important;
      border-color: #534a7f !important;
      color: #fff !important;
    }
  }
}
